body {
    font-family: "Times New Roman";
    margin: 0;
    background: #f0f2f5;
}

.header {
    background: #7a0000;
    color: #ffd700;
    text-align: center;
    padding: 20px;
}

.form {
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background: #7a0000;
    color: #ffd700;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dashboard {
    width: 90%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #7a0000;
    color: #ffd700;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

tr:hover {
    background: #f9f9f9;
}